@model VGB.Models.PackingList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PackingList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.S_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roll_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roll_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gsm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gsm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Output)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Output)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetWt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetWt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
